body {
        background-image: url("../images/herringbone.png");
        height: 100%;
}

.image-title {
        position: absolute;
        bottom: 32px;
        left: 12px;
        right: 12px;
        background-color: salmon; 
}